# Backend
backend/.env
backend/target/
backend/.idea/
backend/*.log

# Frontend
locvia-frontend/node_modules/
locvia-frontend/dist/
locvia-frontend/.env
locvia-frontend/.env.local
locvia-frontend/.env.production
locvia-frontend/*.log

# General
.env
*.log
.DS_Store
